.wordBubble {
  background-color: #eef1f0;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 2vw;
  border-radius: 16px;
}

.home-body-text {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 35%;
  bottom: 30px;
}

.order-btn {
  position: relative;
  left: 10%;
  background-color: #14ae5c;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  top: 100px;
}

.sushi-logo{
background-size: cover;
max-width: 100%;
width: 700px;
}
