.wordBubble {
  background-color: #eef1f0;
 padding: 5%;
  font-size: 2vw;
  border-radius: 16px;
  width: 40%;
  float: right;
 
}

.home-text{
  padding-top: 5%;
}

.order-btn {
  background-color: #14ae5c;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 15px;
  color: white;
float: right;
}

.order-div{
  padding-right: 20%;
  padding-bottom: 20%; 
}
.sushi-logo{
background-size: cover;
max-width: 100%;
width: 700px;
}

