.App {

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-item{
  display: inline-block;
  position: absolute;
  top:26px;
  left:955px;
  padding:0;
  margin:0;
  color: white;
  text-decoration: none;
}

.navbar-item :hover{
  text-decoration: none;
  padding:0px;
  margin:0px;

}